@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;} 
body {
    font-family: 'Roboto', sans-serif;

}
.navhead{
    background-color: #333;
display: flex;
position: sticky ;
top: 0;

justify-content: space-between  ;
align-items: center;
z-index: 1;
}
.logo{
 padding:1rem 0rem ;
    color: #ffffff;
}
.heilight{
    color: greenyellow;
}

.navhead ul {
display: flex;


    list-style: none ;
}
.navhead ul li a {
    padding:1rem 1rem ; 
    text-decoration: none;
    color: white;
}
.navhead ul li a:hover{
    background-color: yellowgreen;
    border-radius: 8px;
} 
/* header */
.showcase{
    background: url("./image/image_resources/showcase.jpg") no-repeat center center/cover  ;
    height:100vh;
color:#fff;
}
 .heading {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
 position: absolute;
top: 60px;
left: 0;

background-color: rgba(0,0,0,0.52);

}  .heading h1{
    padding: 2rem 0 ;
    font-size: 3rem;
} 
 .para{
    padding: 2rem 0;


}
 .btn{
    display: inline-block; 
    text-decoration: none;
     border:none;
    
     background-color: #93cb52;
     color: #fff;
     padding: 10px;
}
.btn:hover{
    background-color: green;
}
.section-1{
    text-align: center;
    height:300px;
}
.sec-1{
display: flex;
flex: 1;

justify-content: space-around;
}
.section-1 h1{
    font-size: 3rem;
    margin:2rem 0; 
  
}
.fol{
    background-color: greenyellow;
    text-align: justify;
    padding: 0.6rem;
    border-radius: 100%;

}
.ihead{
    margin: 1rem 0rem;
}
.item2 {
    padding: 0px 34px;
   
    border-right: yellowgreen 1px solid;
    border-left: yellowgreen 1px solid;
    margin: 0px 29px;}
    /* section Who we are area */
    .who{
        display: flex;
        background: #2E2D2E;
        color: white;
       width: 100%;
    } 
    .who-img{
        margin: 5px 10px;
        width: 50%;
    }

    .who-img img {width: 100%; 

    }
    .who-text{
        margin-left: 1rem;
        padding-top: 2rem;
    }
    .who-h1{
        font-size: 2.2rem;
   margin-bottom: 1.5rem;
    }
    .team{
        margin: 1rem 0rem;
    }
    .meamber{
        margin: 1rem 0rem;
        border-bottom: cornsilk 1px solid;
    }
    .clients-h1{
        text-align: center;
    font-size: 3rem;
    margin: 1rem 0rem;
}
.contact-form {
    background-color: #88C44A;
    height:400px;
    width: 40%;
}
    
    .client{
        display: flex;
    
    }
    .client-logo img{
        width: 50%;
        margin: 0.8rem 1rem;
    }
    .contacts-us{
        color: white;
        display: flex;
    }
    .contact-form h1{
        text-align: center;
    }
    .block {
        display: block;
        margin-left: 7rem;
    }
    .block1 {
        margin-left: 7rem;
        margin-bottom:1rem;
        padding: 0.5rem 1rem ;
    }
    .block12 {
        background: black;
        margin-left: 7rem;
        margin-bottom:1rem;
        padding: 0.3rem 5rem;
        color: white;
        border: none;
        border-radius: 1rem;
    }
    
    .map{
        height: 400px;
        /* margin: 0rem 1rem; */
        width: 60%;
    }
    footer{
        background-color: #252527;
        color: white;
        height: 40px;
        text-align: center;

    }
    footer p{
        padding-top: 12px;
    }